PORT=5000

DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=your_sqlserver_password
DB_NAME=EventTicketDB

PRIVATE_KEY=0xYourPrivateKeyForWriteTransactions
# Kết nối với mạng Ethereum Sepolia qua Infura (hoặc RPC riêng)
RPC_URL=http://127.0.0.1:8545

# Địa chỉ Smart Contract
CONTRACT_ADDRESS=0xYourTicketingContractAddress

# Private Key của ví Admin (Dùng để cấp quyền/soát vé - Nhớ tuyệt đối bảo mật)
ADMIN_PRIVATE_KEY=0xYourAdminPrivateKey
